body {
    font-family: Arial, Helvetica, sans-serif;
}
.my_fill {
    height: 100px;
    background-color: brown;
    border: 1px solid white;
}
.my-h-100{
    height: 100%;
}
.my-bg-grey {
    background-color: rgb(54, 54, 54);
}
.my_bg-black {
    background-color: black;
}
.my_bg-orange {
    background-color: rgb(205, 61, 15);
}
.nav-item {
    padding: 0 0.4rem;
}

.my_bg-jumbo {    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.jumbo {
    height: 700px;
}
.jumbo__img {
    width: 65%;
}

.my_rounded-20 {
    border-radius: 20px;
}
.my_thumb {
    border: 2px solid blue;
    /* padding: 5px; */
    /* padding: 6px; */
}
.my_thumb__image {
    border: 2px solid transparent;
    overflow: hidden;
}
.my_accessory {
    border-bottom: 2px solid transparent;
    opacity: 65%;
}
.my_accessory img {
    width: 70%;
}
.my_accessory:hover {
    opacity: 1;
    border-color: rgb(64, 149, 218);
}

@media screen and (min-width:992px) {
    
}

@media screen and (min-width:1140px) {
    .nav-item {
        padding: 0 0.7rem;
    }
}

#my_bg-jumbo-itt {    
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

#my_bg-jumbo-returnal {
    background-image: url('../img/jumbo-bg.png');
}
